     @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
     * {
         margin: 0;
         padding: 0;
     }
     
     body {
         font-family: "Montserrat", sans-serif;
         background-image: url('img/slider.jpg');
     }
     
     .slider {
         width: 100%;
         min-height: 60 vh;
         background-color: ;
     }
     
     .slider-background {
         width: 100%;
         height: 100%;
         ogject-fit: cover;
         position: relative;
         filter: brightness(50%);
     }
     
     *.slider-content {
         color: rgb(255, 255, 255);
         position: absolute;
         top: 30%;
         left: 70%;
         transform: translate(-50%, -50%);
         text-align: center;
     }
     
     h1 {
         color: rgb(252, 164, 2);
         font-size: 2.5rem;
     }
     /* .section {
         padding: 100px 0;
         position: absolute;
         height: 100%;
     }
     
     
     .boxed {
         max-width: 1280px;
         margin-inline: auto;
     }*/